In [4]:
import geopandas as gpd
import pandas as pd

In [2]:
# Import data\WalkabilityIndex\Natl_WI_no_geometry.csv
gdf = gpd.read_file('data/WalkabilityIndex/Natl_WI_no_geometry.csv')

#make all the column headers lowercase
gdf.columns = map(str.lower, gdf.columns)
gdf.head(n=1)

,geoid10,geoid20,statefp,countyfp,tractce,blkgrpce,csa,csa_name,cbsa,cbsa_name,...,d2a_ephhm,d3b,d4a,d2a_ranked,d2b_ranked,d3b_ranked,d4a_ranked,natwalkind,shape_length,shape_area
0,481130078254,481130078254,48,113,007825,4,206,"Dallas-Fort Worth, TX-OK",19100,"Dallas-Fort Worth-Arlington, TX",...,0.3489115991250832,115.98174732685919,362.1,6.0,14.0,15.0,17.0,14.0,3110.3608200467233,297836.0830901631

In [8]:
#MAybe it makes sense to create a dictionary here with the definitions to make things easier?
raw_stats = ["d2a_ephhm","d2b_e8mixa", "d3b", "d4a"]
ranked_states = ["d2a_ranked","d2b_ranked", "d3b_ranked", "d4a_ranked"]

           d3b       d4a d2b_e8mixa d2a_ephhm         natwalkind
count   131264    131264     131264    131264             131264
unique  130851       892     113294    128518                242
top        0.0  -99999.0       -0.0       0.0  5.333333333333333
freq       405     73574       4419      1367               1668

In [9]:
gdf['d3b'].describe()

count     131264
unique    130851
top          0.0
freq         405
Name: d3b, dtype: object